form {
  padding: 20px;
  box-shadow: var(--shadow-01);
  margin: 24px 44px;
  border-radius: 10px;
  input,textarea {
    background: white;
    border: 1px solid var(--ion-text-color-step-900);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin: 0px 0px 16px;
  }
  input:focus,
  input:focus-visible
  textarea:focus,
  textarea:focus-visible,
  ion-textarea.has-focus{
    border: 1px solid var(--ion-color-primary);
    outline: unset;
  }
  ion-textarea {
    border: 1px solid var(--ion-text-color-step-900);
    border-radius: 8px;
    --background: white;
    --border-radius: 8px;
    margin: 0px 0px 16px;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --highlight-height: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;

    .textarea-wrapper {
      max-height: 250px;
    }
  }

  button {
    width: 100%;
    display: block;
    font-family: var(--body-text-family);
    font-size: var(--body-text-size);
    background-color: var(--button-background-primary);
    border: none;
    color: var(--button-text-primary);
    padding: 16.5px 25px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    font-family: var(--visiapro-semibold);
    margin: 24px 0px 0px;
  }

  button[disabled] {
    opacity: 0.7;
  }
}

form .hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
}

.wrap-img {
  padding-top: 20px;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
  }
}