.inner-content {
  padding: 25px;
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  border: 1px solid var(--ion-text-color-step-450);
  padding: 16px;
  border-radius: 8px;
  min-height: 100px;
  margin-bottom: 10px;
  min-width: calc(50% - 10px);
  max-width: calc(50% - 10px);
  margin-right: 10px;

  .label {
    display: flex;
    justify-content: space-between;
  }
}

.button {
  margin-top: 10px;
}

.inline-modal-container {
  height: 100%
}

.im-header {
  display: flex;
  justify-content: end;
  padding: 16px 20px;
}

@media screen and (max-width: 599px) {
  .card-item {
    width: 100%;
    margin-right: 0px;
    max-width: 100%;
  }
}