<form [formGroup]="formGroups" (submit)="submitForm($event)" data-aos="fade-up" data-aos-duration="1000">
  <!-- <div *ngIf="name">{{ name }}</div> -->
  <input type="text" formControlName="user_id" placeholder="User ID" [value]="userId" class="hidden">
  <input type="text" formControlName="name" name="name" placeholder="Name">
  <input type="email" formControlName="email" name="email" placeholder="Email">
  <input type="tel" formControlName="phone" name="phone" placeholder="No HP">
  <div class="card">
    <p class="text-center">Will you attend our wedding?</p>
    <ion-button expand="block" fill="outline" class="active" [ngClass]="{'active': formGroups.value['is_attend'] == 'yes'}" (click)="changeAttend('yes')">Datang</ion-button>
    <ion-button expand="block" fill="outline" class="mgt-12" [ngClass]="{'active': formGroups.value['is_attend'] == 'no'}" (click)="changeAttend('no')">Tidak Datang</ion-button>
  </div>

  <div class="card">
    <p class="text-center">People you bring including you?</p>
    <div class="wrap-qty">
      <ion-button expand="block" fill="solid" [disabled]="formGroups.value['attendance'] == 1 ? true : false" (click)="changeAttendance('min')"><ion-icon name="remove"></ion-icon></ion-button>
      <div>{{ formGroups.value['attendance'] }}</div>
      <ion-button expand="block" fill="solid" [disabled]="formGroups.value['attendance'] >= maxAttendance ? true : false" (click)="changeAttendance('add')"><ion-icon name="add"></ion-icon></ion-button>
    </div>
    
  </div>
  <button type="submit" [disabled]="!getValue('is_attend') ? true : false">Submit form</button>
</form>