// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  /* Font Family */
  --font-regular: 'Creattion Demo', 'Amellia-Ink', var(--ion-default-font);
  --font-secondary: 'Monotype Corsiva', var(--ion-default-font);
  --visiapro-bold: 'Visia Pro Bold', sans-serif;
  --visiapro-semibold: 'Visia Pro SemiBold', sans-serif;
  --visiapro-extrabold: 'Visia Pro ExtraBold', sans-serif;
  --visiapro-heavy: 'Visia Pro Heavy', sans-serif;
  --visiapro-light: 'Visia Pro Light', var(--ion-default-font);
  --instrumen: 'Instrument Serif', serif;
  --palatino-linotype: 'Palatino Linotype', var(--ion-default-font);

  /* Heading Family */
  --heading-family: var(--instrumen);
  --heading-style: normal;
  --heading-weight: 500;
  --heading-size: 28px;
  --heading-lettercase: none;

  /* Body Text */
  --body-text-family: var(--visiapro-semibold);
  --body-text-style: normal;
  --body-text-weight: 400;
  --body-text-size: 16px;
  --body-text-lettercase: none;

  /* Text Colors */
  --text-primary: #3F3F3F;
  --text-primary-rgb: 64, 64, 64;
  --text-secondary: #FFFFFF;
  --text-secondary-rgb: 255, 255, 255;
  --text-tertiary: #000000;
  --text-tertiary-rgb: 0, 0, 0;

  /* Attribute */
  --body-height: 100vh;

  // --background-secondary: #F6F7F9;
  --background-primary: #503B31 !important;
  --background-primary-rgb: 83, 89, 74 !important;
  --background-secondary: #A27967 !important;
  --background-secondary-rgb: 145, 155, 141 !important;
  --background-tertiary: #F5F0EE !important;
  --background-tertiary-rgb: 238, 243, 241 !important;
  --button-text-primary: #FFFFFF;
  --button-text-primary-rgb: 255, 255, 255;
  --button-background-primary: #60473B !important;
  --button-background-primary-rgb: 83, 89, 74 !important;

  --shadow-01: 0 4px 16px rgba(0, 0, 0, 0.12);
  --shadow-02: 0px 18px 16px -3px rgba(var(--background-secondary-rgb), 0.22);

  /* RGB */--light-rgb: 255, 255, 255;--dark-rgb: 0, 0, 0;

  // IONIC
  --ion-background-color: #ffffff;
	--ion-background-color-rgb: 255,255,255;

  --ion-background-color-step-50: #f2f2f2;
	--ion-background-color-step-100: #e6e6e6;
	--ion-background-color-step-150: #d9d9d9;
	--ion-background-color-step-200: #cccccc;
	--ion-background-color-step-250: #bfbfbf;
	--ion-background-color-step-300: #b3b3b3;
	--ion-background-color-step-350: #a6a6a6;
	--ion-background-color-step-400: #999999;
	--ion-background-color-step-450: #8c8c8c;
	--ion-background-color-step-500: #808080;
	--ion-background-color-step-550: #737373;
	--ion-background-color-step-600: #666666;
	--ion-background-color-step-650: #595959;
	--ion-background-color-step-700: #4d4d4d;
	--ion-background-color-step-750: #404040;
	--ion-background-color-step-800: #333333;
	--ion-background-color-step-850: #262626;
	--ion-background-color-step-900: #191919;
	--ion-background-color-step-950: #0d0d0d;

	--ion-text-color: #222222;
	--ion-text-color-rgb: 34,34,34;

  --ion-text-color-step-50: #2d2d2d;
	--ion-text-color-step-100: #383838;
	--ion-text-color-step-150: #434343;
	--ion-text-color-step-200: #4e4e4e;
	--ion-text-color-step-250: #595959;
	--ion-text-color-step-300: #646464;
	--ion-text-color-step-350: #6f6f6f;
	--ion-text-color-step-400: #7a7a7a;
	--ion-text-color-step-450: #858585;
	--ion-text-color-step-500: #919191;
	--ion-text-color-step-550: #9c9c9c;
	--ion-text-color-step-600: #a7a7a7;
	--ion-text-color-step-650: #b2b2b2;
	--ion-text-color-step-700: #bdbdbd;
	--ion-text-color-step-750: #c8c8c8;
	--ion-text-color-step-800: #d3d3d3;
	--ion-text-color-step-850: #dedede;
	--ion-text-color-step-900: #e9e9e9;
	--ion-text-color-step-950: #f4f4f4;

  --ion-color-primary: #503B31;
	--ion-color-primary-rgb: 80,59,49;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #46342b;
	--ion-color-primary-tint: #624f46;
}