.inner-form {
  padding: 20px;
}

input,textarea {
  background: white;
  border: 1px solid var(--ion-text-color-step-900);
  padding: 10px;
  border-radius: 8px;
  width: 100%;
  margin: 0px 0px 16px;
}
input:focus,
input:focus-visible {
  border: 1px solid var(--ion-color-primary);
  outline: unset;
}