$padRight: -1px;

:host {
  // right: $padRight;
}

ion-content {
  // --background: #fafafa;
  --background: var(--background-tertiary);
}

.container {
  background: var(--background-tertiary);
}

.container--side-to-side {
  min-height: 480px;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.container--side-to-side * {
  -webkit-overflow-scrolling: touch
}

// PRIMARY PANEL
.primary-pane {
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: calc(100vw - 39%);
  opacity: 99.5%;
}

.primary-pane .inner-content::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0 0 0 / 30%); */
  background: linear-gradient(to bottom, rgb(0 0 0 / 50%) 0%, rgb(255 255 255 / 0%), rgb(0 0 0 / 50%) 90%);
  opacity: 99.5%;
}

.primary-pane .inner-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 99.5%;

  .highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ion-background-color);
    opacity: 99.5%;
  }
}

.primary-pane .details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10% 20% 11% 7%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
  z-index: 2;
  opacity: 99.5%;

  h1 {
    font-family: var(--font-regular);
    font-size: calc(var(--heading-size) + 80px);
    padding: 0;
    margin-bottom: 10px;
    color: var(--text-secondary);
  }

  p {
    font-family: var(--visiapro-light);
    font-size: calc(var(--body-text-size) + 7px);
    color: var(--text-secondary);
    letter-spacing: 4px;
    margin-bottom: 5px;
    margin-left: 7.5px;
    white-space: pre-line;
  }
}

.primary-pane-small {
  // padding: 20px 0px 40px;
  position: relative;
  swiper-slide, swiper-slide div {
    height: 450px;
  }

  swiper-slide div {
    overflow: hidden;
    border-radius: 8px;
  }

  // swiper-slide {
  //   width: 100px !important;
  // }
}



// SECONDARY PANEL
.secondary-pane {
  position: static;
  right: 0;
  width: calc(100vw - 61vw);
  margin-left: auto;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

// SECTION COVER
section.cover .inner-content::before {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgb(0 0 0 / 40%) 0%, rgb(255 255 255 / 0%), rgb(0 0 0 / 40%) 90%);
  opacity: 99.5%;
}

swiper-container, .zoom-container {
  width: 100%;
  height: 100%;
}

swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.top-text {
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-family: var(--body-text-family);
  font-style: var(--body-text-style);
  font-weight: var(--body-text-weight);
  font-size: var(--body-text-size);
  text-transform: var(--body-text-lettercase);
  line-height: 1.3;
  color: var(--text-primary);
}

.torsvp--btn-wrap {
  text-align: center;
  padding: 5px 0px;
  margin-top: 15px;
}

.torsvp--btn {
  font-family: var(--visiapro-extrabold);
  font-size: calc(var(--body-text-size) + 2px);
  font-weight: normal;
  border: 1px solid var(--ion-background-color);
  color: var(--ion-background-color);
  letter-spacing: 2px;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 7px;
  background: transparent;
  line-height: 1.4;
  display: inline-block;
  vertical-align: top;
  transition: 0.3s;
}

section.cover {
  background-color: var(--background-tertiary);
  min-height: var(--body-height);
  position: relative;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}

section.cover .inner-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;

  .overlay {
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 99.5%;
  }

  .head {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    // margin-top: 25%;
    // margin-bottom: auto;
    position: relative;
    z-index: 3;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    p {
      font-size: calc(var(--body-text-size) + 2px);
      color: var(--text-secondary);
    }

    .prime-title {
      font-family: var(--font-regular);
      font-size: calc(var(--heading-size) + 40px);
      color: var(--text-secondary);
      line-height: 1.1;
      margin: 0.4em auto;
    }
  }

  .body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 0;
    display: block;
    opacity: 99.5%;

    swiper-slide {
      position: relative;
    }

    .video-container {
      width: 100%;
      height: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }

  .logo-wrap {
    width: 100%;
    height: 50px;
    margin-bottom: 1.5em;
    position: relative;

    .logo {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: center;
    }
  }


  
}

.quote-wrap {
  padding: 50px 20px;
  text-align: center;
  line-height: 1.3;
  background-image: linear-gradient(153.07deg, var(--background-secondary) 11.92%, var(--background-primary) 110.81%);
  color: var(--text-secondary);
  font-family: var(--visiapro-semibold);
}

.love-story-body {
  display: flex;
  align-items: center;
  swiper-container {
    max-width: 500px;
    width: 90%;
  }

  .swiper-slide-inner {
    border-radius: 20px;
    // overflow: hidden;
    padding: 80px 0px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
  }

  .wrap-story-container {
    // height: 100%;
  }

  .ssi-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    opacity: 99.5%;
  }

  .ssi-overlay-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
  }
  
  swiper-container::part(bullet-active) {
    width: 10%;
    height: 3px;
    border-radius: 0px;
    background: white;
  }

  swiper-container::part(bullet) {
    width: 10%;
    height: 3px;
    border-radius: 0px;
    background: rgba(255,255,255,1);
    opacity: 0.5;
  }
  
  swiper-container::part(button-prev),swiper-container::part(button-next) {
    color: white;
    height: 30px;
    width: 20px;
  }
}

.wrap-story {
  width: 100%;
  height: 65%;
  text-align: center;
  padding: 0px 15%;
  // padding-right: calc(15% + 17px);
  // margin: 0 auto;
  // margin-right: -17px;
  position: relative;
  z-index: 2;
  overflow-y: auto;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  color: var(--text-secondary);
  max-height: 420px;
}

.wrap-story::-webkit-scrollbar {
  display: none;
}

.story-title {
  font-family: var(--font-regular);
  font-size: calc(var(--heading-size) + 17px);
  line-height: 1;
  flex: 1;
  font-weight: 600;
}

.story-body {
  font-family: var(--visiapro-light);
  color: var(--text-secondary);
  flex: 1;
  font-weight: 600;
}

.gallery-wrap {
  padding: 20px 0px;
  background: linear-gradient(84deg, var(--background-primary) 0%, var(--background-secondary) 100%);
  color: var(--text-secondary);
}

.gallery-head {
  padding: 0px 0px 16px;
  text-align: center;
}

.gallery-head .gallery-title {
  margin-bottom: 0.25em;
  color: var(--text-secondary);
  font-size: calc(var(--heading-size) + 12px);
}

.gallery-head .gallery-description {
  font-style: italic;
  color: var(--text-secondary);
  white-space: break-spaces;
  font-family: var(--palatino-linotype);
}

.gallery-body {
  position: relative;
  min-height: calc(100vh);
  background: rgba(0,0,0,0.3);
  border-radius: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .img-gallery {
    height: calc(100vh);
    width: 100%;
    object-fit: cover;
  }

  swiper-container {
    height: auto;
    --swiper-pagination-color: var(--ion-background-color-step-200);
  }

  swiper-slide, swiper-slide div {
    height: 100px;
  }

  swiper-slide {
    width: 100px;
  }

  swiper-container::part(pagination) {
    bottom: 0;
    top: unset;
  }

  swiper-container.gallery-preview swiper-slide,
  swiper-container.gallery-preview swiper-slide div {
    width: 100%;
    height: calc(100vh - 100px);
  }
}

.gallery-tile swiper-slide {
  opacity: 0.5;
}

.gallery-tile .swiper-slide-thumb-active {
  opacity: 1;
}


.save-date-wrap {
  background: transparent;
  position: relative;
  overflow: hidden;
}

.save-date-wrap .save-date {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0 30px;
}

.save-date-head {
  position: relative;
  font-size: calc(var(--heading-size) + 20px);
  line-height: 1.3;
}

.save-date-head::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1.5px;
  width: 80%;
  background-color: rgba(var(--dark-rgb), .5);
  opacity: 99.5%;
}

.save-date-event {
  font-family: var(--visiapro-light);
  font-size: calc(var(--body-text-size) + 3px);
  letter-spacing: 5px;
}

.countdown {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count-item {
  text-align: center;
  background-color: transparent;
  padding: 10px 5px 14px;
  margin: 5px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid var(--text-primary);
  box-shadow: var(--shadow-02);
}

.count-num {
  font-family: var(--visiapro-bold);
  font-size: calc(var(--heading-size) + 7px);
  line-height: 1;
}

.count-text {
  font-family: var(--visiapro-semibold);
  font-size: calc(var(--body-text-size) - 4px);
}



.agenda-body {
  position: relative;
  z-index: 1;
}

.event-item:first-of-type {
  margin: 50px auto 0;
}

.event-item {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  background-color: var(--background-tertiary);
  width: 85%;
  max-width: 500px;
  margin: 80px auto 0;
  padding-bottom: 40px;
  border-radius: 12px;
  position: relative;
}

.event-head {
  border-radius: 10px;
  background: var(--color-gradasi, linear-gradient(98deg, var(--background-primary) 0%, var(--background-secondary) 54.84%, var(--background-tertiary) 99.59%));
  padding: 20px 10px;
  text-align: center;
}

.event-head .event-day {
  font-family: var(--font-regular);
  font-size: calc(var(--heading-size) + 20px);
  color: var(--text-secondary);
  line-height: 1;
  margin-bottom: 0.15em;
}

.event-head .event-date {
  font-family: var(--visiapro-light);
  font-size: calc(var(--body-text-size) + 2px);
  color: var(--text-secondary);
  letter-spacing: 5px;
}

.activity-item {
  margin-top: 35px;
}

.activity-head {
  padding: 20px 10px;
  text-align: center;
}

.activity-head .activity-time {
  font-family: var(--visiapro-light);
  font-size: calc(var(--body-text-size) - 2px);
  color: var(--text-primary);
  background-color: transparent;
  border-radius: 11.5px;
  border: 1px solid var(--text-primary);
  padding: 7px 20px;
  display: inline-block;
  vertical-align: top;
}

.event-details, .activity-details {
  padding: 20px 10px;
  text-align: center;
}

.activity-details .activity-hall {
  font-family: var(--visiapro-heavy);
  margin-bottom: 0.75em;
}

.activity-link-wrap {
  margin-top: 20px;
  --border-radius: 16px;
  --border-width: 1px;
}

.comments-wrap {
  padding: 20px 20px 100px;
  // background: white;
}

.wedding-gift-desc {
  font-family: var(--visiapro-light);
  font-style: italic;
}

.wrap-ion-select {
  padding: 44px;
  padding-bottom: 0px;

  ion-select {
    --background: var(--background-primary);
    color: var(--text-secondary);
    border-radius: 8px;
    overflow: hidden;
    --padding-start: 10px;
    --padding-end: 10px;
    --highlight-color: unset;
  }

  ion-select::part(text) {
    white-space: pre-line;
    @extend .single-line-ellipsis;
  }
}

.multi-lines-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip !important;
  -webkit-box-orient: vertical;
}

.single-line-ellipsis {
  -webkit-line-clamp: 1;
  @extend .multi-lines-ellipsis;
}

.gift-card-bank-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-radius: 12px;
  --background: linear-gradient(84deg, var(--background-primary) 0%, var(--background-secondary) 100%);
  margin: 22px 44px 0px;
}

// bank detail
.bank-detail div {
  margin-top: 10px;
}

.bd-bank {
  font-family: var(--visiapro-heavy);
  font-size: var(--body-text-size);
  color: var(--text-secondary);
  margin: 0;
}

.bd-label {
  font-family: var(--body-text-family);
  font-size: calc(var(--body-text-size) - 5px);
  color: rgba(var(--text-secondary-rgb), .5);
  display: block;
  margin: 0;
  margin-bottom: 0.25em;
}

.bd-number {
  font-family: var(--visiapro-heavy);
  font-size: var(--body-text-size);
  color: var(--text-secondary);
  cursor: pointer;
  display: inline-block;
  word-break: break-all;
  margin: 0;
  display: flex;
  align-items: center;
  ion-icon {
    margin-left: 8px;
  }
}

.bd-name {
  font-family: var(--body-text-family);
  font-size: var(--body-text-size);
  word-break: break-all;
  color: var(--text-secondary);
  margin: 0;
}

.bank-img {
  flex: 0 0 auto;
  img {
    width: 110px;
    height: 110px;
    display: block;
    object-fit: cover;
    object-position: center;
    background: #eee;
  }
  ion-icon {
    font-size: 110px;
  }
}


@media only screen and (max-width: 960px) {
  .primary-pane {
    position: relative;
    width: 100%;
    display: none;
  }
  .secondary-pane {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  :host {
      --heading-size: 35px;
      --body-text-size: 17px;
  }
}