<audio #player loop="loop">
  <source [src]="srcAudio" type="audio/mpeg"/>
</audio>

<div class="container" (click)="loadMusicBackground()">
  <div class="container--side-to-side">
    <div class="primary-pane">
      <div class="inner-content">
        <div class="details">
          <h1 data-aos="zoom-out" data-aos-duration="1200" class="" style="opacity: 1; transition-duration: 1200ms;">
            {{ title }}
          </h1>
          <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" class="" style="opacity: 1; transition-duration: 1000ms;">
            @if (id) {
              Hai<br>
            }
            {{ guestName }}
          </p>
        </div>

        <div class="highlight " data-aos="zoom-out" data-aos-duration="1000" style="opacity: 1; transition-duration: 1000ms;">
          <swiper-container #swiperPane
            autoplay
            autoplay-delay="2500"
            disable-on-interaction="false"
            effect="fade"
            speed="1700">
            <swiper-slide *ngFor="let item of coverAncol">
              <div class="zoom-container">
                <img [src]="item"/>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>

    <div #scrollContainer class="secondary-pane" (scroll)="handleScroll($event)">
      <!-- SECTION COVER -->
      <section class="cover">
        <div class="inner-content">
          <div class="overlay"></div>
          <div class="head " data-aos="zoom-in" data-aos-duration="1000" style="opacity: 1; transition-duration: 1000ms;">
            <div class="logo-wrap " style="opacity: 1; transition-duration: 1000ms;" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100">
              <img src="assets/img/logo-bird.png" alt="" class="logo">
            </div>
  
            <p class="top-text " data-aos="fade-down" data-aos-duration="1000" style="opacity: 1; transition-duration: 1000ms;">Wedding Invitation</p>
            <h1 class="prime-title " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" style="opacity: 1; transition-duration: 1000ms;">{{ title }}</h1>
            <p class="bottom-text " data-aos="fade-up" data-aos-duration="1000" style="opacity: 1; transition-duration: 1000ms;">#TentangGamaAsmaraloka</p>
            <p class="date " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" style="opacity: 1; transition-duration: 1000ms;">{{ weddingDate }}<sup>th</sup>, {{ weddingYear }}</p>
  
          </div>
          <div class="body highlight " data-aos="zoom-out" data-aos-duration="2000" style="opacity: 1;transition-duration: 2000ms;">
            <swiper-container #swiperCover
              autoplay
              autoplay-delay="2500"
              disable-on-interaction="false"
              effect="fade"
              speed="1700">
              <swiper-slide>
                <div class="video-container">
                  <video autoplay muted loop id="myVideo">
                    <source [src]="videoFile" type="video/mp4">
                    <!-- Your browser does not support HTML5 video. -->
                  </video>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </section>

      <section class="primary-pane-small">
        <div class="pdt-20 pdb-20">
          <app-coverflow [items]="coverJawa" />
        </div>
      </section>

      <!-- COUPLE WRAP -->
      <app-profile-card/>

      <section class="quote-wrap">
        <div data-aos="fade-up" class="quote">
          "Dan di antara tanda-tanda (kebesaran)-Nya adalah bahwa Dia menciptakan untukmu pasangan dari jenismu sendiri, agar kamu condong dan merasa aman padanya, dan Dia menjadikan di antara kamu cinta dan kasih sayang. Sesungguhnya pada yang demikian itu benar-benar ada tanda-tanda ( kebesaran Allah) bagi kaum yang berpikir"
          <br/>
          <div class="pdt-16">(QS. Ar-Rum ayat 21)</div>
        </div>
      </section>

      <section class="love-story-wrap">
        <div class="pdt-30 pdb-50">
          <div class="pd-20 pdb-8 text-center font-secondary fs-47" data-aos="fade-up">{{ 'Our Journey' }}</div>
          <p class="pd-20 pdt-0 mgt-0 text-center" data-aos="fade-up" data-aos-duration="1000" style="opacity: 1; transition-duration: 1000ms;">#TentangGamaAsmaraloka</p>
          <div class="love-story-body " data-aos="zoom-in">
            <swiper-container #swiperStory
              effect="fade"
              fade-effect-cross-fade="true"
              speed="200"
              auto-height="true"
              pagination
              navigation
              (swiperslidechange)="handleSlide(swiperStory)">
              <swiper-slide *ngFor="let item of journey">
                <div class="swiper-slide-inner">
                  <div style="background-image: url( {{item.img}} )" class="ssi-overlay-image"></div>
                  <div class="ssi-overlay"></div>
                  <div class="wrap-story-container">
                    <div class="wrap-story">
                      <div class="story-title">{{ item.title }}</div>
                      <p class="story-body">{{ item.data }}</p>
                    </div>
                  </div>
                  
                </div>
                
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
        
      </section>

      <section class="gallery-wrap">
        <div class="pdb-40">
          <div class="gallery-head">
            <!-- <h1 class="gallery-title">{{ galleryTitle }}</h1> -->
            <p class="gallery-description" data-aos="zoom-out" [innerHtml]="gallerySub"></p>
          </div>
          <div class="gallery-body" data-aos="zoom-in">
            <swiper-container #swiperPreview
              autoplay
              autoplay-delay="2500"
              effect="fade"
              speed="1200"
              auto-height="true"
              lazy-loading
              space-between="5"
              slides-per-view="1"
              [css-mode]="isMobileWeb"
              thumbs-swiper=".gallery-tile"
              class="gallery-preview">
              <swiper-slide *ngFor="let item of coverGallery">
                <div>
                  <img [src]="item" loading="lazy"/>
                </div>
              </swiper-slide>
            </swiper-container>
            <swiper-container #swiperGallery
              speed="200"
              auto-height="true"
              space-between="5"
              free-mode="true"
              slides-per-view="auto"
              [css-mode]="isMobileWeb"
              (swiperslidechange)="handleSlide(swiperGallery, 'gallery')"
              (swiperafterinit)="galleryPrimary = coverGallery[0]"
              (click)="handleSlideClick($event, 'gallery')"
              class="gallery-tile"
              watch-slides-progress="true">
              <swiper-slide *ngFor="let item of coverGallery">
                <div lazy="true">
                  <img [src]="item" loading="lazy"/>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>

          <div class="pd-20 mgt-20 text-center font-regular fs-47" data-aos="fade-up" style="opacity: 1; transition-duration: 1000ms;">
            <div>Our Engagement</div>
            <div class="fs-20 font-secondary">{{ engageDate }}<sup>th</sup>, {{ engageYear }}</div>
          </div>

          <section class="primary-pane-small">
            <div class="pdt-20 pdb-20">
              <app-coverflow [items]="coverEngage" />
            </div>
          </section>
        </div>
        
      </section>

      <section class="save-date-wrap">
        <div class="save-date">
          <div class="pd-20 text-center font-regular fs-47 save-date-head" data-aos="fade-up" style="opacity: 1; transition-duration: 1000ms;">
            <div>Save The Date</div>
            <p class="save-date-event">{{ weddingDate }}<sup>th</sup>, {{ weddingYear }}</p>
          </div>
          <div class="save-date-body" data-aos="zoom-in-up" style="opacity: 1; transition-duration: 1000ms;">
            <div class="countdown">
              <div class="count-item">
                <div class="count-num">{{ dayCount }}</div>
                <div class="count-text">Days</div>
              </div>
              <div class="count-item">
                <div class="count-num">{{ hourCount }}</div>
                <div class="count-text">Hours</div>
              </div>
              <div class="count-item">
                <div class="count-num">{{ minutesCount }}</div>
                <div class="count-text">Minutes</div>
              </div>
              <div class="count-item">
                <div class="count-num">{{ secondsCount }}</div>
                <div class="count-text">Seconds</div>
              </div>
            </div>

            <div class="d-flex pdb-12">
              <ion-button fill="outline" color="medium" class="activity-link-wrap mgl-auto mgr-auto" data-aos="zoom-in-up" data-aos-delay="100" data-aos-duration="1000" style="opacity: 1; transition-duration: 1000ms;" (click)="addToCalendar()">
                <ion-icon name="add" class="pdr-10"></ion-icon>
                {{ 'Add to Calendar' }}
              </ion-button>
            </div>
            
          </div>

          <div class="agenda-body">
            <ion-card class="event-item" data-aos="zoom-in-up" style="opacity: 1; transition-duration: 1000ms;">
              <div class="event-head">
                <h1 class="event-day" data-aos="fade-up">{{ weddingDayOfWeek }}</h1>
                <p class="event-date" data-aos="fade-up">{{ weddingDate }}<sup>th</sup>, {{ weddingYear }}</p>
              </div>
              <div class="activity-wrap">
                <div class="activity-item">
                  <div class="activity-head" data-aos="fade-up" style="opacity: 1; transition-duration: 500ms;">
                    <h1 class="activity-title">Akad Nikah</h1>
                    <p class="activity-time">07:30 - 09:00</p>
                  </div>
                  <div class="activity-details" data-aos="fade-up" style="opacity: 1; transition-duration: 500ms;">
                    <p class="activity-hall">{{ locationName }}</p>
                    <p class="activity-address">{{ locationAddress }}</p>
                    <ion-button fill="outline" color="medium" class="activity-link-wrap" (click)="openLocation()">
                      {{ 'View Maps' }}
                    </ion-button>
                  </div>
                </div>
                <div class="activity-item">
                  <div class="activity-head" data-aos="fade-up" style="opacity: 1; transition-duration: 500ms;">
                    <h1 class="activity-title">Resepsi</h1>
                    <p class="activity-time">11:00 - 14:00</p>
                  </div>
                  <div class="activity-details" data-aos="fade-up" style="opacity: 1; transition-duration: 500ms;">
                    <p class="activity-hall">{{ locationName }}</p>
                    <p class="activity-address">{{ locationAddress }}</p>
                    <ion-button fill="outline" color="medium" class="activity-link-wrap" (click)="openLocation()">
                      {{ 'View Maps' }}
                    </ion-button>
                  </div>
                </div>
              </div>
            </ion-card>
          </div>

          <app-rsvp-form [name]="user && user.name" [userId]="user && user.id" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" style="opacity: 1; transition-duration: 1000ms;"/>
        </div>
      </section>

      <section class="wedding-gift-wrap">
        <div class="weading-gift-head" data-aos="fade-up" style="opacity: 1; transition-duration: 1000ms;">
          <div class="pd-20 text-center font-regular fs-47">
            <div>Wedding Gift</div>
            <p class="wedding-gift-desc">{{ weddingGiftDesc }}</p>
          </div>
        </div>
        <div class="wedding-gift-body">
          <div class="wrap-ion-select" data-aos="fade-up" style="opacity: 1; transition-duration: 1000ms;">
            <ion-select mode="md" aria-label="Bank Account" label-placement="stacked" [interfaceOptions]="{size:'cover', translucent: true, side: 'bottom', alignment: 'start'}" interface="popover" [(ngModel)]="bankAccount">
              <ion-select-option *ngFor="let item of bankList" [value]="item.id">
                <ion-label>{{ item.name }}</ion-label>
              </ion-select-option>
            </ion-select>
          </div>

          @for (item of bankList; track item) {
            <ion-card *ngIf="item.id == bankAccount" class="gift-card-bank-wrap" data-aos="fade-up" style="opacity: 1; transition-duration: 1000ms;">
              <div class="bank-detail">
                <h3 class="bd-bank">{{ item.bankAccount }}</h3>
                <div>
                  <small class="bd-label">{{ 'Account Number' }}</small>
                  <h4 class="bd-number" (click)="copyAccount(item.accountNumber)">{{ item.accountNumber }} <ion-icon name="copy"></ion-icon></h4>
                </div>
                <div>
                  <small class="bd-label">{{ 'Account Name' }}</small>
                  <h4 class="bd-name">{{ item.accountName }}</h4>
                </div>
              </div>
              <div class="bank-img"><ion-icon [src]="item.icon"></ion-icon></div>
            </ion-card>
          }

          <app-gift-form [bank]="bankAccount" [name]="user && user.name" [userId]="user && user.id" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" style="opacity: 1; transition-duration: 1000ms;"/>
          
        </div>
      </section>

      <section class="comments-wrap">
        <div class="pd-20 text-center font-regular fs-47 save-date-head mgb-30" data-aos="fade-up" data-aos-delay="100" style="opacity: 1; transition-duration: 1000ms;">
          <div>Wedding Wish</div>
        </div>
        <!-- <app-disqus [identifier]="'rijlab'"></app-disqus> -->
         <app-comments [userId]="user && user.id"/>
      </section>

      <section>
        <app-footer/>
      </section>
    </div>
  </div>
  

  <section class="music-outer ">
    <div class="music-box auto playing" id="music-box" [ngClass]="{'paused': isMusicPaused}"
      (click)="pauseMusic();$event.stopPropagation();">
      <ion-icon src="assets/icon/music-cd.svg"></ion-icon>
    </div>
  </section>
  
</div>

 

<!-- <embed height="0" width="0"
  src="https://www.youtube.com/embed/rXPfovXw2tw?enablejsapi=1&autoplay=1&loop=1" /> -->
<!-- <div style="display:none;" id="whateverID"><iframe width="1" height="1" frameborder="0" title="YouTube video player" type="text/html" src="https://www.youtube.com/embed/rXPfovXw2tw?enablejsapi=1" allow="autoplay"></iframe></div> -->